
.hello {

  position: absolute;
  top: 100px;
  left: 0px;
  display: none;

}

.populer-svg-icon {
  display: flex;
  justify-content: center;
}

.svg-icon {
  
 display: grid;
 grid-template-columns: repeat(8, 0fr);
 margin-bottom: 50px;
 gap: 20px;
 
}

@media (max-width:1558px) {
  .svg-icon .svg.svg-8 {
    display: none;
  }
}
@media (max-width:1280px) {
  .svg-icon .svg.svg-7 {
    display: none;
  }
}

@media (max-width:1200px) {
  .svg-icon .svg.svg-6 {
    display: none;
  }
}

@media (min-width:1024px) {
  .left-content {
    font-size: 30px;
    width: 130%;
  }
  .right-content {
    width: 100%;
    height: 100%;
  }
  
}

.svg-icon .svg {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid rgba(231, 235, 225, 0.13);
  background: #0F0C19;
  background-image: linear-gradient(#111, #111),
                    linear-gradient(90deg, rgb(57,255,20), rgb(0,191,255), rgb(255,0,128));
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.svg-icon .svg svg{
  width: 60px;
}


.home-container {
  background: #030306;
  width: 100%;
}

/* Container */

.icon-search {
  padding-top: 0px;
}

.search-img {
  display: flex;
}

.search-img svg {
  width: 20px;
  margin-top: 7px;
}

.search-img p{
  font-size: 14px;
  padding-top: 20px;
  text-align: center;
  color: red;
  font-weight: bold;
}



.search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.main-search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}    

.search-menu {
    position: absolute;
    width: 72%;
    height: 100vh;
    padding-bottom:20px;
    top:20px;
    height: 82vh;
    border-radius: 10px;
    background: #000;
    z-index: 200;
    border: 1px solid rgb(16, 187, 16);
}

.search-menu {
  display: grid;
  grid-template-columns: repeat(5 , 1fr);
  justify-content: center;
  overflow-y: auto;
  gap: 20px;
  border: 1px solid #d3cfd821;
  padding-left: 10px;
}









/* Chrome, Edge, Safari */
.search-menu::-webkit-scrollbar {
  width: 10px;
}

.search-menu::-webkit-scrollbar-track {
  background: black; /* scrollbar bg */
}

.search-desin {
  width: 250px;
  height: 200px;
  border: 1px solid rgba(255, 255, 255, 0.075);
  border-radius: 10px;
  margin-top: 10px;
  background: #0F0C19;
  position: relative;
}

.search-desin button {
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  bottom:0;
}

.search-desin p {
  font-size: 14px;
  font-weight: bold;
  color: #8E95BC;
  
}

.search-desin .svg-icon svg {
  width: 100px;
  height: 50px;
  margin-top: 50px;
}


.search .input {
  display: flex;
  align-items: center;
  border-radius: 30px;
  width: 50%;
  animation: glowPulse 2s infinite alternate;
  border: 1px solid beige;
  background: #111;
  border: 2px solid transparent;
  border-radius: 30px;
  background-image: linear-gradient(#111, #111),
                    linear-gradient(90deg, rgb(57,255,20), rgb(0,191,255), rgb(255,0,128));
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: relative;
  transition: 0.3s;

  input {
    padding: 15px;
    background: none;
    border: none;
    width: 100%;
    outline: none;
    color: white;
    font-size: bold;
  }

  svg {
    margin-right:10px;
  }
}

.button button{
  padding: 10px 30px;
  background: rgba(200, 13, 206, 0.822);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin-left: -10px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px;
  
}

.hero .right-content {
  border-radius: 10px;
  margin-top: -50px;
}

.right-content img {
  width: 80%;
  height: 100%;
}

.button {
  display: flex;
  gap: 20px;
}


.left-content .button-get {
  margin-top: 50px;
  background: rgb(255, 255, 255);
  color: #030306;
  width: 200px;
}

.left-content {
  h2 {
    font-weight: 800;
    color: transparent;
    background: linear-gradient(90deg, #f108cb, #0077ff);
    -webkit-background-clip: text;
    background-size: 200%;
    animation: scan 2s infinite linear;
    font-size: 50px;
    letter-spacing: 2px;
    margin: 0px 0px;
    margin-left: -10px;
    text-align: start;
  }


  @keyframes scan {
    0% {
      background-position: -100% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

  p {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 20px;
    color: #FBCF2E;
    animation: pulse7 2s infinite ease-in-out;
    padding-top:50px;
    margin-left: -10px;
    text-align: start;
  }


  @keyframes pulse7 {
    0%,
    100% {
      text-shadow:
        0 0 5px #ff3366,
        0 0 10px #ff6699;
    }
    50% {
      text-shadow:
        0 0 20px #ff0033,
        0 0 40px #ff66cc;
    }
  }
}

.left-content h2 span {
  color: white;
}


@media (max-width:1864px) {
  .search-menu {
    grid-template-columns: repeat(4, 0fr);
    height: 90vh; 
  }
  .search-desin{
    width: 200px;
  }
}

@media (max-width:1500px) {
  .search-menu {
    grid-template-columns: repeat(4, 0fr);
  }
  .search-desin{
    width: 200px;
  }

}

@media (max-width:1221px) {
  .search-menu {
    grid-template-columns: repeat(4, 0fr);
    width: 80%;
    height: 90vh;
  }
  .search-desin{
    max-width: 200px;
  }
}

@media (max-width:1024px) {
  .search-menu {
    grid-template-columns: repeat(4, 0fr);
    width: 80%;
    height: 90vh;
  }
  .search-desin{
    max-width: 180px;
  }

  .hello {
    display: none;
  }

}

@media (max-width:826px) {
  .search-menu {
    grid-template-columns: repeat(3, 0fr);
    width: 80%;
    height: 90vh;
  }
  .search-desin{
    max-width: 180px;
    
  }
}

@media (max-width:760px) {
  .search-menu {
    grid-template-columns: repeat(2, 0fr);
    width: 80%;
    height: 90vh;
  }
  .search-desin{
    max-width: 250px;
    
  }
}

@media (max-width:552px) {
  .search-menu {
    grid-template-columns: repeat(1, 0fr);
    width: 92%;
    height: 85vh;
  }
  .search-desin{
    width: 300px;
    
  }

  .search .input {
    margin-top: 50px;
  }
}



@media (max-width: 1728px) {
  .left-content {
    h2 {
      font-size: 30px;
      width: 100%;
    }

    p {
      font-size: 18px;
    }
  }
}


@media (max-width: 1280px) {
  .left-content {
    h2 {
      width: 100%;
      font-size: 25px;
    }

    p {
      font-size: 18px;
    }
  }
}

@media (max-width: 1024px) {
  .left-content {
    h2 {
      font-size: 30px;
      width: 100%;
    }

    p {
      font-size: 15px;
    }
  }
}

@media (max-width: 768px) {
  .left-content {
    h2 {
      font-size: 20px;
      width: 100%;
    }

    p {
      font-size: 13px;
    }
  }
}

@media (max-width: 540px) {
  .right-content img {
    display: none;
  }
}

@media (max-width: 540px) {
  .hero {
    padding: 20px 30px;
  }
}

/* animation use */
.ripple {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 20px auto;
}
.ripple span {
  position: absolute;
  border: 4px solid #60a5fa;
  border-radius: 50%;
  animation: ripple 1.2s infinite;
  inset: 0;
}
.ripple span:nth-child(2) {
  animation-delay: -0.6s;
}
@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.animation {
  position: absolute;
  right: 28%;
  top: 10%;
}

.rocket {
  width: 20px;
  height: 40px;
  background: #facc15;
  margin: 20px auto;
  border-radius: 10px 10px 0 0;
  position: relative;
  animation: fly 1.5s infinite ease-in-out;
}
.flame {
  width: 10px;
  height: 10px;
  background: #f87171;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  bottom: -10px;
  animation: flame 0.5s infinite alternate;
}
@keyframes fly {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes flame {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(1.5);
    opacity: 0.6;
  }
}

.animation2 {
  position: absolute;
  right: 15%;
  top: 20%;
}
